<% @goods.first(10).each do |good| %>
<div class="container">
    <div class="row">
        <div class="col-md-2 my-1 border-bottom 1px"><%= image_tag(good['mediumImageUrls'][0], alt:good.name) %></div>
        <div class="col-md-6 my-1 border-bottom 1px"><%= link_to good.name, "#{good.url}" %></div>
        <div class="col-md-2 my-1 border-bottom 1px">価格：<%= number_with_delimiter(good.price) %>円</div>
        <div class="col-md-2 my-1 border-bottom 1px"><%= form_with(url:items_path, scope: :item) do |f| %>
        <%= f.hidden_field :image_url, value: good['mediumImageUrls'][0],id: "good_imageurl_#{good.code}" %>
        <%= f.hidden_field :name, value: good.name, id: "good_name_#{good.code}"%>
        <%= f.hidden_field :url, value: good.url, id: "good_url_#{good.code}"%>
        <%= f.hidden_field :price, value: good.price, id: "good_price_#{good.code}"%>
        <%= f.hidden_field :item_code, value: good.code, id: "good_item_code_#{good.code}"%>
        <%= f.submit 'Add Your Wishlist', class: 'mx-1 btn btn-success btn-sm' %>
        <% end %></div>
    </div>
</div>
<% end %>